//Este archivo servira para tener los colores y las fuentes usadas en un solo archivo



//Colors
$gunmetal: #2B2D42;
$gray: #8D99AE;
$white: #EDF2F4;
$red:#EF233C;


//fonts
$small: 16px;
$medium: 20px;
$big: 48px;

//valores de paddings
$large-padding: 10px 15px;
$big-padding: 20px 30px;

//valores para margenes
$default-margin-top: 30px;
$big-margin-top: 90px;

$border-radius:4px;
